---
import AccordionDemo from '../components/AccordionDemo.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <AccordionDemo client:load />
  </main>
</Layout>
